<!DOCTYPE html>
<html>
    <head>
        <title>Auth Boilerplate</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include ./partials/header.ejs%>
        <%- body %>
    </body>
</html>